from math import pi

def circle_area(radius):
    if type(radius) not in [int, float]:
        raise TypeError("Радиус должен быть задан целым числом или десятичной дробью")
    if radius < 0:
        raise ValueError("Радиус не может быть отрицательным")
    return pi * (radius ** 2)

def area_rectangle(length, width):
    if type(length) not in [int, float] or type(width) not in [int, float]:
        raise TypeError("Длина и ширина должны быть заданы целыми числами или десятичными дробями")
    if length < 0 or width < 0:
        raise ValueError("Длина или ширина не могут быть отрицательными")
    return length * width

if __name__ == "__main__":
    try:
        radius = float(input("Введите радиус круга: "))
        circle_area_result = circle_area(radius)
        print(f"Площадь круга: {circle_area_result}")

        length = float(input("Введите длину прямоугольника: "))
        width = float(input("Введите ширину прямоугольника: "))
        rectangle_area_result = area_rectangle(length, width)
        print(f"Площадь прямоугольника: {rectangle_area_result}")
    except ValueError as ve:
        print(f"Ошибка: {ve}")
    except TypeError as te:
        print(f"Ошибка: {te}")
